@import url('https://fonts.googleapis.com/css2?family=Overpass&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --background-radius: #252e36;
    --background-color: #20242f;
    --backgrond-color-2: #141519;
    --text-color: hsl(217, 12%, 63%);
    --text-color-2: hsl(0, 0%, 100%);
    font-family: 'Overpass', sans-serif;
}

body {
    background-color: var(--backgrond-color-2);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}


#rating,
#post-rating {
    width: 23.8rem;
    display: flex;
    flex-direction: column;
    border-radius: 25px;
    margin: 0 auto;
    padding: 1.6rem;
    color: var(--text-color-2);
    background: var(--background-color);
}

h3 {
    align-self: flex-start;
    letter-spacing: 1px;
    margin-top: 2rem;
    margin-bottom: 1rem;
    font-size: 1.7rem;
    font-weight: 700;
}

.star {
    align-self: flex-start;
}

.star img {
    transform: scale(0.9);
}

.rates {
    display: flex;
    justify-content: space-between;
}

p {
    font-size: 15px;
    color: var(--text-color);
    margin-bottom: 1.5rem;
    line-height: 1.5;
}

.item-radius {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 3.15rem;
    height: 3.15rem;
    border-radius: 50%;
    color: var(--text-color);
    background-color: var(--background-radius);
}


.background-radius:hover {
    cursor: pointer;
    background-color: hsl(216, 12%, 54%);
    color: var(--text-color-2);
}

.active {
    background-color: hsl(25, 97%, 53%);
    color: var(--text-color-2);
    cursor: pointer;
}

button {
    margin-top: 1.6rem;
    width: 100%;
    height: 2.5rem;
    border-radius: 30px;
    border: none;
    transition: 400ms;
    background-color: hsl(25, 97%, 53%);
    color: hsl(0, 0%, 100%);
    letter-spacing: 2px;
    text-transform: uppercase;
    font-weight: 700;

}

button:hover {
    background-color: hsl(0, 0%, 100%);
    color: hsl(25, 97%, 53%);
    cursor: pointer;
}

#post-rating {
    display: none;
}

#post-rating img {
    width: 50%;
    margin: 1rem auto;
}

#rated {
    width: 60%;
    height: 1.8rem;
    line-height: 2rem;
    margin: 1rem auto;
    text-align: center;
    border-radius: 20px;
    background-color: var(--background-radius);
    color: hsl(25, 97%, 53%);
}

#post-rating h3 {
    margin: auto;
    margin: 1rem auto;
}

#post-rating p {
    text-align: center;
}


footer {
    display: block;
    width: 100%;
    position: absolute;
    bottom: 0;
    text-align: center;
    margin: 1rem auto;
    color: var(--text-color-2);
}

.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
    text-decoration: none;
}

@media screen and (max-width: 375px) {

    body {
        transform: scale(0.8);
    }

    #rating,
    #post-rating {
        margin-left: -0.5rem;
    }


}